altgraph==0.17.3
attrs==22.1.0
autopep8==2.0.1
certifi==2022.12.7
charset-normalizer==2.1.1
future==0.18.2
idna==3.4
jsonschema==4.17.3
pefile==2022.5.30
pycodestyle==2.10.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pyproject-toml==0.0.10
pyrsistent==0.19.2
PySimpleGUI==4.60.4
pywin32-ctypes==0.2.0
requests==2.28.1
toml==0.10.2
urllib3==1.26.13
